
nav {
    
    width: 100vw;
    background-color: blue;
}
li {

    display: inline-block;
    font-size: xx-large;
    font-weight: 300;
    padding: 25px;
    font-family: fantasy;
    color: crimson;
}

header {
 display: inline-block;
}


body {
    text-align: center;
    font-family: sans-serif, monospace;
    background-color: black;
    display: inline-block;
}

h1 {
    color: white;
    padding: 30px;
}


.cuba-image {
    margin: 15px;
    padding: 20px;
    max-height: 200px;
    max-width: 260px;
    object-fit: cover;
    display: inline-flex;
    
}

.cuba-image1 {
    max-height: 200px;
    max-width: 260px;
    object-fit: cover;
    display: inline-block;
    transform: rotate(180deg);
}


#ladies {
    transform: rotate(90deg);
}


#the_classics {
    max-height: 200px;
    max-width: 260px;
    object-fit: cover;
    display: inline-block;
    top: 325px;
}

#purple_taxi {
    max-width: 260px;
    max-height: 260px;
}

.item {
    display: inline-block;
    transform: rotate(90deg);
}

.carousel-inner {
    padding: 45px;
}

.pee {

    padding: 55px;
}


.blue {
    gap: 50px;
}












